<!DOCTYPE html>
<html lang="en">
<!--
 ---
 HEAD
 ---
  -->
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="src/semantic/semantic.min.css">
  <link rel="stylesheet" href="src/uikit/uikit.min.css">
  <link rel="stylesheet" href="src/fa/css/font-awesome.min.css">
  <link rel="stylesheet" href="keyframe.css">
  <link rel="stylesheet" href="style.css">

  <title>WEB-INDEX</title>

  <script src="src/vue/vue.min.js"></script>
  <!-- <script src="src/vue.js"></script> -->

  <!-- disable uikit icon
  <script src="src/uikit/uikit.min.js"></script>
  <script src="src/uikit/uikit-icons.min.js"></script> -->

</head>
<!--
 ---
 BODY
 ---
 -->
<body onload="getNews();">
<div id="app">
  <div style="height: 100vh;" id="container">
    <div id="web" class="ui grid" style="margin: 0 auto;">
      <div id="search" class="column centered">
        <!-- search form -->
        <form id="search-form"
              method="GET"
              action="https://www.google.com/search">

          <input type="text" class="uk-input" id="search-field" name="q"
                 placeholder="Search" autocomplete="off"
                 oninput="getGoogleSugg(this)" onclick="clearSelete()"
                 v-model="search" autofocus spellcheck="false"><button
                id="search-btn"
                class="uk-button uk-button-primary">Search</button>

        </form>
        <!-- keyword prediction -->
        <div class="ten wide column row centered" v-if="seen" style="margin-top: 24px;">
          <ul class="uk-list uk-list-divider">
            <sugg-str
                    v-for="item in suggs"
                    v-bind:sugg="item.name"
                    v-bind:class="{select: (select === item.id)}"
                    v-bind:key="item.id">
            </sugg-str>
          </ul>
        </div>
        <!-- ----- -->
        <div id="fav" class="uk-card uk-card-default uk-card-body" v-if="!seen">
          <!-- template
          <template id="fav-item"><li class="" href="">
              <i class="fa"></i><label></label>
            </li></template>
          -->
          <ul id="fav-menu" class="uk-nav uk-nav-center uk-nav-parent-icon"><li>
              <a href="https://www.youtube.com/?gl=TW&hl=zh-TW">
                <i class="fa fa-youtube-play"></i><label>Youtube</label>
              </a>
            </li><li>
              <a href="https://translate.google.com.tw/?hl=zh-TW">
                <i class="fa fa-commenting-o"></i><label>Translate</label>
              </a>
            </li><li>
              <a href="https://store.steampowered.com/">
                <i class="fa fa-steam"></i><label>Steam</label>
              </a>
            </li><li>
              <a href="https://twitch.tv/">
                <i class="fa fa-twitch"></i><label>Twitch</label>
              </a>
            </li><li>
              <a href="https://tw.yahoo.com/">
                <i class="fa fa-yahoo"></i><label>Yahoo</label>
              </a>
            </li><li>
              <a href="https://www.google.com/intl/zh-TW/gmail/about/#">
                <i class="fa fa-envelope"></i><label>Gmail</label>
              </a>
            </li><li>
              <a href="https://www.google.com/intl/zh-TW_ALL/drive/">
                <i class="fa fa-cloud-upload"></i>Drive
              </a>
            </li><li>
              <a href="https://www.instagram.com/">
                <i class="fa fa-instagram"></i>Instagram
              </a>
            </li><li>
              <a href="https://www.twitter.com/">
                <i class="fa fa-twitter"></i>Twitter
              </a>
            </li><li>
              <a href="https://www.facebook.com/">
                <i class="fa fa-facebook"></i>Facebook
              </a>
            </li><li>
              <a href="https://www.github.com/">
                <i class="fa fa-github-alt"></i>Github
              </a>
            </li><li>
              <a href="https://www.soundcloud.com/">
                <i class="fa fa-soundcloud"></i>SoundCloud
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- disabled
  <div style="text-align: center; padding: 20px 10px; background-color: #DDDDDD">
    <p style="font-size: 36px; color: #333333; margin-bottom: 24px"><span>NEWS</span></p>
    <p style="color: #333333; font-size: 20px">Event in the word</p>
  </div>
  <div id="news">
    <div id="news-box" class="column centered cards"
         style="padding-left: 0; padding-right: 0;" v-if="!seen">
      <news-card
              v-for="news in newsData"
              v-bind:news-link="news.url"
              v-bind:img-url="news.urlToImage"
              v-bind:news-title="news.title"
              v-bind:description="news.description"
              v-bind:key="news.id">
      </news-card>
    </div>
  </div>
  -->
</div>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            search: '',
            seen: false,
            select: -1,
            suggLen: 0,
            suggs: [],
            newsData: []
        }
    });
</script>
<!-- <script src="fav.js"></script> -->
<script src="./search.js"></script>
<!--
disabled
<script src="news.js"></script>
 -->
</body>
</html>