
body{
    width: 100%;
}

#app {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    background: url("src/images/network.jpg") fixed;
    background-size: auto 100%;
}

#uk-alert-warning {
    padding: 10px;
}

#web {
    width: 80%;
    margin: 120px auto 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 20px;
}

#search-form {
    box-shadow: 5px 5px 10px #444444;
}

#search-field {
    width: calc(100% - 200px);
    height: 60px;
    padding-left: 20px;
    font-size: 24px;
}

#search-btn {
    width: 200px;
    height: 60px;
    font-size: 28px;
}

#keyword {
    box-shadow: 5px 5px 10px #444444;
}

#keyword li {
    color: #333333;
}

#fav {
    display: flex;
    margin-top: 24px;
    padding: 0;
    box-shadow: 5px 5px 10px #444444;
}

#fav-menu {
    width: 100%;
    display: block;
    text-align: left;
}

#fav-menu li {
    display: inline-block;
    min-width: 100px;
    width:  calc(100% / 8);
    padding: 10px 0;
}

#fav-menu a {
    text-align: center;
}

#fav-menu i {
    text-align: center;
    width:  100%;
}

#fav-menu label {
    width: 100%;
    font-size: 18px;
}

#fav-menu .item::before {
    content: none;
}

.uk-list.uk-list-divider li {
    margin-top: 0;
    padding: 20px;
    background-color: #FFFFFF;
    font-size: 20px;
}

.uk-list.uk-list-divider li.select {
    background-color: #CCCCCC;
    animation: keywordSelected 0.4s;
}
