
@keyframes kwSelectedW {
    0% {
        background-color: #FFFFFF;
    }
    100% {
        background-color: #CCCCCC;
    }
}

@keyframes kwSelectedD {
    0% {
        background-color: #444444;
    }
    100% {
        background-color: #333333;
    }
}

