
body{
    width: 100%;
}

#container {
    width: 100%;
    overflow-y: hidden;
    background: url("network.jpg") fixed;
    background-size: auto 100%;
}

#web {
    padding-top: 128px;
    font-size: 20px;
}

#search {
    width: 80%;
    padding-left: 0;
    padding-right: 0;
}

#search-field {
    width: calc(100% - 200px);
    height: 60px;
    padding-left: 20px;
    font-size: 24px;
    color: #444444;
}

#search-btn {
    width: 200px;
    height: 60px;
    font-size: 28px;
}

.ui.segments .ui.segment {
    font-size: 20px;
}

#fav {
    display: flex;
    margin-top: 24px;
    padding: 0;
}

#fav-menu {
    width: 100%;
    display: block;
    text-align: left;
}

#fav-menu li {
    display: inline-block;
    min-width: calc(100% / 8 - 1px);
    width:  calc(100% / 8);
    padding: 10px 0;
}

#fav-menu a {
    text-align: center;
}

#fav-menu i {
    text-align: center;
    width:  100%;
}

#fav-menu label {
    width: 100%;
    font-size: 18px;
}

#fav-menu .item::before {
    content: none;
}

#news {
    background: url("city.jpg") fixed;
    background-size: auto 100%;
    width: auto;
    height: auto;
    min-height: 100vh;
}

#news-box {
    width: 900px;
    margin: 0 auto;
    padding: 36px 0;
    text-align: center;
}

#news-box .ui.card {
    display: inline-flex;
    margin: 10px 10px;
    width: calc(25% - 23px);
    min-width: 250px;
}

#news-box .ui.card .content {
    height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
}